.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.main-column {
  background-color: var(--bg-color-dark);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  min-height: 400px;
}

.main-column h2 {
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #f9f9f9;
}

@media (min-width: 900px) {
  .app-main {
    grid-template-columns: 1fr 2fr;
  }
}

@media (prefers-color-scheme: light) {
  .main-column h2 {
    color: #213547;
  }
}